@model IEnumerable<DriverInfo.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Event Log</h1>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h2>All Logs</h2>
    </div>
</div>