@model Driver

@{
    ViewData["Title"] = "Add New Driver";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group row">
        <label asp-for="DriverName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="DriverName" class="form-control" />
            <span asp-validation-for="DriverName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="CarReg" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CarReg" class="form-control" />
            <span asp-validation-for="CarReg" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ResponsibleEmployeeID" class="col-sm-2 col-form-label">Ansvarig Anställd</label>
        <div class="col-sm-10">
            <select asp-for="ResponsibleEmployeeID" class="form-control" asp-items="ViewBag.Employees">
                <option value="">Välj en anställd</option>
            </select>
            <span asp-validation-for="ResponsibleEmployeeID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}